
/* 공통부분 */
* {                 
    margin: 0;
    padding: 0;

}

/* 상단바 */

header {
    position: fixed;
    height: 55px;
    z-index: 99;
    width: 100%;
    background: rgb(93,77,146);
    background: linear-gradient(90deg, rgba(93,77,146,1) 5%, rgba(93,77,146,1) 30%, rgba(241,154,152,1) 85%, rgba(245,181,161,1) 100%);
}


.logo {
    position: fixed;
    width: 90px;
    height: auto;
    margin-left: 100px;
    top: 15px;
}


.left {
    position: fixed;
    width: 500px;
    height: 44px;
    left: 220px;
    top: 14px;
}

/*웹이 621px보다 작아질 때 사라지게 하는 설정 */

@media (max-width: 621px) {
    .left {
        display: none;                              
    }
}

.right {
    color: white;
    position: fixed;
    width: 500px;
    height: auto;
    right: 130px;
    top: 18px;
    font-size: 15px;

}

@media (max-width: 992px) {
    .right {
        display: none;                              
    }
}


#search_box {
    font-size: 12px;
    width: 400px;
    height: 26px;
    border-radius: 16px;
    border: 0px;
    background: rgba(255,255,255, 36%);
    text-align-last:center;
}

#search_button {
    position: absolute;
    background: rgba(255,255,255, 0%);
    border: 0px;
    width: 20px;
    height: 20px;
    right: 115px;
    top: 4px;
}

#alarm_button {
    position: absolute;
    background: rgba(255,255,255, 0%);
    border: 0px;
    width: 20px;
    height: 20px;
    margin-left: 20px;

}

/* 로그아웃 마이페이지 버튼 */


.username  {
    color: white;
    text-decoration: none;
    position: relative;
    margin: 12px;
    font-size: 15px;
  }
  

.logout,
.mypage {
    color: rgba(255,255,255, 50%);
    text-decoration: none;
    position: relative;
    margin: 12px;
    font-size: 15px;
  }
  
  .logout::after,
  .mypage::after {
    position: absolute;
    content: "";
    border-radius: 30px;
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .logout:hover::after,
  .mypage:hover::after{
      height: calc(100% + 8px)
  }


  /* 상단바 아래 body 공통 부분 위치값 설정 */

  .all_body {
    position: relative;
    top: 55px;
}

/* 팝업 레이어 */
  
  .button {
    font-size: 12px;
    position: absolute;
    background: rgba(255,255,255, 0%);
    border: 0px;
    top: 3px;
    width: 20px;
    height: 20px;
    margin-left: 20px;

  }

  /*.button:hover {
    background: #06D85F;
  }*/
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    position: relative;
    width: 433px;
    min-height: 465px;
    background: #fff;
    border-radius: 8px;
    transition: all 5s ease-in-out;
    top: 56px;
    float: right;
  }
  
  .top_alarm {
    position: relative;
    width: 433px;
    height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #483e80;
    float: top;
    display: flex;
  }

.text_alarm {
    position: relative;
    height: 50px;
    width: 150px;

}

.text_alarm > h2 {
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    
  }

  .popup .close {  /*X 모양*/
    position: absolute;
    margin-left: 170px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
  }

  .popup .close:hover {
    color: white;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }