
.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.mypage_content  {
  position: relative;
  width: 852px;
  min-height: 968px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 600px;
  background: white;
  border-radius: 5px;
  border : white 1px solid;
  box-shadow: 1px 3px 11px 0px rgba(146,146,146,1);
  
}

.info {
  position: relative;
  display: flex;  /* 한 div 안에 display를 flex로 하면 안의 하위 요소들이 전체 규격에서 옆으로 정렬됨!! */
  width: 730px;
  height: 177px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid;
  top: 70px;
}


.list {
  position: relative;
  width: 730px;
  min-height: 682px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  top: 140px;
}

.info_specific {
  width: 242px;
  height: auto;
  margin-left: 21px;
  margin-top: auto;
  margin-bottom: auto;
  
}

/* 닉네임 */
.info_nickname {
  width: 242px;
  color: #616161;
  font-size: 42px;
  font-weight: 500;

}

/* 아이디 */
.info_username {
  width: 242px;
  color: #616161;
  font-size: 23px;
  font-weight: 320;

}

.fa-cog {
  font-size: 15px;
  margin-left: 5px;
  align-content: center;
  color: #8e8e8e;
}

/* 등급 */
.info_rank {
  width: 242px;
  color: #efbc45;
  font-size: 18px;
  font-weight: 400;
  margin-top : 18px;

}
