body {
    font-family: 'Nanum+Gothic:400';
    /* background: url("{% static 'feedpage/img/index_background.png' %}") no-repeat 50% 50% fixed; */
}
.writing {
    font-size: 30px;
}
/*배경 이미지*/
.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    
}


.button_wrapper{
    display:flex;
    position: absolute;
    right: 0;

}

#editButton{
    text-align:right;
    color: #616161;
}

.contents_wrapper{
    position: relative;
    display: block;
    width: 620px;
    height: auto;
    border: 0.5px solid #A9A9A9;
    border-radius: 3.445px;
    padding: 15px;
    margin-top: 10px;
    background: white;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 3.18px 4.79px 8px 0px rgba(0,0,0,0.100); */
}

.contents_wrapper{
    position: relative;
    display: block;
    width: 620px;
    height: auto;
    border: 0.5px solid #A9A9A9;
    border-radius: 3.445px;
    padding: 15px;
    margin-top: 10px;
    background: white;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 3.18px 4.79px 8px 0px rgba(0,0,0,0.100); */
}
.feed_head{
    display:flex;
}
.feed_delete{
    position:absolute;
    right:15px;
}
.feed_title{
    font-size:18px; 
    text-align:left; 
    color:#483e80;
}
/* 글쓴이 */
/* .writer{
    position: absolute;
    font-size: 13.5px; 
    color: #616161;
    left:480px;
}

.nickname{
    position:absolute;
    font-size: 13.5px; 
    color: #A9A9A9;
    right:520px;

} */
/*해쉬태그*/
.hashtag{
    text-align:left;
    color:#A9A9A9;
    font-size:11px;
    margin-top: 5px;
    /* text-align: left;
    width: 590px;
    background:#F3F3F3;
    color: #616161;
    border-radius: 10px;
    padding: 0.3em 1em;
    margin-bottom:10px;
    margin-top:10px; */

}

/*예보 몇개입니다 */
.forecast_number {
    position: absolute;
    left:85px;
    font-size: 15px;
    color:#616161;
    
}
.forecast_title{
    display:flex;
    width: 500px;
} 

.forecast_done {
    position: relative;
    font-size: 15px;
    color: #483e80;
    left:12px;
    
}

/*구분선*/
.line{
    width: 620px;
    height: 20px;
    border-top: 1px solid #A9A9A9;
    position: absolute;
}

/* 댓글 */
.comment_wrapper{
    display:flex;
    text-align: left;
    width: 590px;
    background:#F3F3F3;
    color: #616161;
    border-radius: 10px;
    padding: 0.3em 1em;
    margin-top: 7px;
}

.comment_like{
    position:absolute;
    left:555px;

}
.comment_hate{
    position:absolute;
    left:595px;
}
.comment_delete{
    position:absolute;
    left: 19px;
}
.comment_content{
    left:80px;
}
.comment_box{
    position:relative;
    display:flex;
    width:620px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

#text_comment{
    position:relative;
    width:530px;
    height: 20px;
    background:rgb(255, 255, 255);
    border: 1px solid #A9A9A9;
    border-radius: 10px;
}

.comment_submit {
    position: absolute;
    right: 5px;
    width:70px;
    font-size: 13px;
    background:  #483e80;
    color:white;
    border-radius: 10px;
}

/*날씨선택 기본: 아직 내가 선택 안햇을 때 */

.optionbox {
    position: relative;
    width: 586px;
    height: 120px;
    display: block;
    bottom: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3;
    border-radius: 10px;
    border: 0px solid;
}

.weather {
    height: 65px;
    display: flex;
}

.optionbox img {
    position: relative;
    top: 10px;
}

.sunny,
.cloudy,
.rainy {
    width: 48px;
    height: 50px;
    margin: auto;
}

.option_blank {
    width: 586px;
    height: 40px;
    display: flex;
}


#option1 {
    position: relative;
    background: white;
    width: 140px;
    height: 30px;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}

#option2 {
    position: relative;
    background: white;
    width: 140px;
    height: 30px;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}

#option3 {
    position: relative;
    background: white;
    width: 140px;
    height: 30px;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}
.option1,
.option2,
.option3 {
    width: 140px;
    height: 30px;
    margin: auto;
    text-align: center;
    
    
}

#optionfont{
    position: absolute;
    font-size: 13px;
    color: #616161;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    
}

.checkmark {
    position: absolute;
    left: 0;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 0px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}

.checkmark2 {
    position: absolute;
    left: 198px;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 0px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}

.checkmark3 {
    position: absolute;
    right: 0px;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 0px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}

/*날씨선택 2- f 이미 종료됨 f */

.f-optionbox {
    position: relative;
    width: 586px;
    height: 120px;
    display: block;
    bottom: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #D4D4D4;
    border-radius: 10px;
    border: 0px solid;
}

.f-optionbox img {
    position: relative;
    top: 10px;
}


#f-option1 {
    position: relative;
    background: #A9A9A9;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}
#f-option2 {
    position: relative;
    background: #A9A9A9;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}

#f-option3 {
    position: relative;
    background:#A9A9A9;
    border: 0px;
    border-radius: 23px;
    text-align-last: center;
    
}
.f-option1,
.f-option2,
.f-option3 {
    width: 140px;
    height: 30px;
    margin: auto;
    text-align: center;
    
}

#f-optionfont{
    position: absolute;
    font-size: 13px;
    color: #616161;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    
}


/*날씨선택 3-1 - s 내가 써니에 투표함*/
.s-checkmark {
    position: absolute;
    left: 0;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 1.5px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}
/*날씨선택 3-2 - r내가 rainy에 투표함*/

.s-checkmark2 {
    position: absolute;
    left: 198px;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 1.5px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}
/*날씨선택 3-2 - c 내가 cloudy에 투표함*/
.s-checkmark3 {
    position: absolute;
    right: 0px;
    height: 115px;
    width: 185px;
    border-radius: 10px;
    border: 1.5px solid #483e80;
    background: rgba(0, 0, 0, 0);
    top: 0;
}
