<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <header>
    <div style="text-align: right;">
        {% if user.is_authenticated %}
             {{  user.profile.nickname }}님, 안녕하세요
             <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>
             <a href="{% url 'mypage'%}">My Page</a> 
        {% else %}
             <a href="{% url 'signup' %}">회원가입</a>
             <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
        {% endif %}
    </div>
</header>
  해쉬태그 검색 바
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>