/* 공통부분 */

* {                  /* *은 공통 부분을 의미 */
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;         /* webkit 크롬 사파리 */
    -moz-box-sizing: border-box;            /*moz 파이어폭스 */
    word-break: break-all;                  /*word break - 줄바꿈 의미 */
    font-family: 'Nanum+Gothic:400';
    
    
}

.background {
    position: relative;                            /* div의 상대적 위치 = 상위 레이어 relative, 하위 레이어 absolute = 하위가 상위레이어에 상대적으로 움직인다*/
    width: 1600px;
    height: auto;

}

.square {
    position: relative;
    width: 1600px;
    height: auto;
}

.signup_area {                                   /* 회원가입 전체 영역 */
    position: absolute;
    width: 618px;
    height: 670px;
    border-radius: 23px;
    background-color: white;
    left: 480px;
    top: 140px;
    font-family: 'Nanum Gothic', sans-serif;

}

p1 {
    position: relative;                     /* 큰 div 안에 속하는 영역들의 위치를 지정할 땐 position relative 하고 top, left 로 위치 조절하기. margin은 아님 */
    font-size: 24px;
    font-weight: 700;
    color: #483e80;
    top: 50px;
    left: 60px;
    display: block;

}

p2 {
    position: relative;
    font-size: 23px;
    font-weight: 400;
    color: #483e80;
    top: 55px;
    left: 60px;
    display: block;

}

/* 필수 정보 */

.essential_box {
    position: relative;
    width: 305px;
    height: 189px;
    top: 93px;                          /*위에서부터의 top 값은 p1 타이틀에서부터의 거리 구하기 */
    left: 60px;
    display: block;
}

p3 {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #483e80;
    display: block;
    
}

input[type="text"],
input[type="password"] {
    position: relative;
    font-size: 12px;
    height: 35px;
    width: 304px;
    padding: 0;
    margin-top: 14px;
    border: 0px solid #999;
    border-radius: 18px;
    background-color: rgba(197, 197, 197, 30%);
    text-align-last:center;
    

}

.email_box label,
.password_box1 label,
.password_box2 label,
.nickname_box label {
    position: absolute;
    font-size: 11px;
    font-weight: 500;
    top: 25px;
    left: 20px;
    color: #717171;
    cursor: text;

}
.email_box,
.password_box1,
.password_box2,
.nickname_box {                                        /* 텍스트 필드 상자와 글자 전체 div*/
    position: relative;
    top: 5px;
}


/* 선택정보 영역 */ 

.selection_box {
    position: relative;
    width: 305px;
    height: 189px;
    top: 160px;
    left: 60px;
    display: block;
    border: 0px solid;
    font-size: 12px;            /* 선택 정보 밑의 모든 글자 속성 */
    font-weight: 700;
    color: #483e80;

}


p4 {                            /* 선택 정보 */
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #483e80;
    display: block;

}

.gender {   
    position: relative;
    top: 12px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 25px; 
    padding-left: 10px;
}

.gender_select  {
    position: relative;
    top: 16px;
    left: 12px;
}

.age,
.lovestatus{
    position: relative;
    height: 20px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* 남 여 선택 */

  ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    height: 10px;
    border-bottom: 0px solid #333;
    bottom: 30px;
    left: 70px;
  }
  
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label{
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  ul li:hover label{
      color: #AAAAAA;
  }
  
  ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 0px;
    left: 0px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
  }
  
  ul li:hover .check {
    border: 1px solid #FFFFFF;
  }
  
  ul li .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 1px;
    left: 1px;
    margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    border: 2px solid #483e80;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #483e80;
  }
  
  input[type=radio]:checked ~ label{
    color: #483e80;
  }

/* 나이 선택 박스 */ 

.select-style {
    position: relative;
    border: 2px solid #ccc;
    width: 120px;
    height: 18px;
    left: 80px;
    bottom: 17px;
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    background: white;
    
}


.select-style select {
    color: #483e80;
    padding-top: 2px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align-last:center;

}

.select-style select:focus {
    outline: none;
}

/* 나이 선택 박스 */ 

.select-style-2 {
    position: relative;
    border: 2px solid #ccc;
    width: 120px;
    height: 18px;
    left: 80px;
    bottom: 17px;
    border-radius: 40px;
    overflow: hidden;
    background: white;
    text-align: center;
}


.select-style-2 select {
    color: #483e80;
    padding-top: 2px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-align-last:center;

}

.select-style-2 select:focus {
    outline: none;
}
  

/* 가입하기 버튼 부분 */

.submit_box {
    position: absolute;
    width: 618px;
    height: 60px;
    bottom: 0px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #483e80;


}


.submit_button {
    position: relative;
    width: 81px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

input[type="submit" i] {
    font-size : 17px;
    font-weight: 400;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 0px;

}


/* 프로필 사진 */

.container{
    position: absolute;
	width: 135px;
    height: 135px;
    left: 355px;
    top: 30px;

}

.hidden, #uploadImg:not(.hidden) + label{
	display: none;
}

#file{
	display: none;
    margin: 0 auto;

}

#uploadImg {
    width: 135px;
    height: 135px;
    left: 355px;
    top: 60px;
    border: #483e80 solid 2px;
    border-radius: 100%;
}

#upload{
	display: block;
	padding: 10px 25px;
    border: 0;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-weight: 400;
	letter-spacing: 0.05em;
	cursor: pointer;
	background: #483e80;
	color: #fff;
	outline: none;
	transition: .3s ease-in-out;
	&:hover, &:focus{
		background: #483e80;
	}
	&:active{
		background: #483e80;
		transition: .1s ease-in-out;
	}
}

img{
	display: block;
	margin: 0 auto 15px;
}