{% extends 'base.html' %}

{% block content %}


<h1>Edit Feed</h1>
    <form action="/home/{{ feed.id }}/" method="POST">
      {% csrf_token %}
      <p>title</p>
      <input name="title" value="{{feed.title}}" /> <br />
      <p>content</p>
      <input name="content" value= "{{feed.content}}" /> <br />
      <p>결과 확정하기</p>
        <input name="result" type="radio" value="{{ feed.sunny_content }}"> {{ feed.sunny_content }}
        <br>
        <input name="result" type="radio" value="{{ feed.sunny_content }}"> {{ feed.sunny_content }}
        <br>
        <input name="result" type="radio" value="{{ feed.sunny_content }}"> {{ feed.sunny_content }}
      <br>
      <input type="submit" value="submit" />
      
    </form>
{% endblock %}