<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles%}


<!-- css style -->
<link rel="stylesheet"  href="{% static 'feedpage/mypage.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'feedpage/mypage.js' %}"></script>

    <div class="all_body">

    <h1>Edit Feed</h1>
        <form action="/home/{{ feed.id }}/" method="POST">
          {% csrf_token %}
          <p>title</p>
          <input name="title" value="{{feed.title}}" /> <br />
          <p>content</p>
          <input name="content" value= "{{feed.content}}" /> <br />
          <p>결과 확정하기</p>
            <input name="result" type="radio" value="Sunny"> Sunny
            <br>
            <input name="result" type="radio" value="Cloudy"> Cloudy
            <br>
            <input name="result" type="radio" value="Rainy"> Rainy
          <br>
          <input type="submit" value="submit" />
          
        </form>
{% endblock %}

  </div>