<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load staticfiles%}


<!-- css style -->
<link rel="stylesheet"  href="{% static 'feedpage/mypage.css' %}" />
    <div class="bg">
        <img style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 50%; height: auto; min-width: 50%; min-height: 50%;" src="{% static 'feedpage/img/mypage_bg.jpg' %}"/>       
            
        <div class = "mypage_content">
            <div class = "info">
                <p1></p1><img style = "width: 159px; height: 159px; border: 4px solid #efbc45; border-radius: 50%; margin-left: 21px; margin-right: 21px; margin-top: auto; margin-bottom: auto;" src="{{ user.profile.profile_photo.url }}"  alt="">
                <div class = "info_specific">
                    <div class = "info_nickname"> {{ user.profile.nickname}} </div>
                    <div class = "info_username"> {{user.username}} <i id = "settings button" class="fas fa-cog fa-sm"></i> </div>
                    <!--  <div class = "info_rank"> <i class="fas fa-leaf"></i>    잎새 등급 </div> -->
                    <!--  <div class = "info_rank"> <i class="fas fa-baby"></i>    유아 등급 </div> -->
                    <div class = "info_rank"> <i class="fas fa-seedling"></i>    새싹 등급 </div>
                </div>
            </div>

            <div class = "list">
                <p>내가 쓴 글</p>
                {% for feed in feeds %}
                <div style="border: 1px solid palevioletred;">
                    {% if request.user == feed.author %}
                    <a href="/home/{{ feed.id }}">글 제목: {{ feed.title }}</a>
                    {% endif %}  
                </div>
                    {% endfor %} 
                <br>
                <br>
                <p>내가 예보한 글</p>
                {% for feed in feeds %}
                <div style="border: 1px solid blue;">
                    {% if request.user in feed.sunny_users.all or request.user in feed.cloudy_users.all or request.user in feed.rainy_users.all %}
                    <a href="/home/{{ feed.id }}">글 제목: {{ feed.title }}</a>
                    {% endif %}
                </div>
                {% endfor %} 
            </div>
        </div>
    </div> 
{% endblock content %}



<!-- <p>닉네임: {{ user.profile.nickname}} </p>
        <p> 나이: {{user.profile.age}} </p>
        <p> 성별: {{user.profile.gender}} </p>
        <p> 연애 상태: {{user.profile.status}}</p>
        <p>프로필 사진: </p> <img  src="{{ user.profile.profile_photo.url }}"  alt=""> 
        <p>내가 쓴 글</p>
        {% for feed in feeds %}
        <div style="border: 1px solid palevioletred;">
            {% if request.user == feed.author %}
            <a href="/home/{{ feed.id }}">글 제목: {{ feed.title }}</a>
            {% endif %}  
        </div>
        {% endfor %} 

        <br>
        <br>
        <p>내가 예보한 글</p>
        {% for feed in feeds %}
        <div style="border: 1px solid blue;">
            {% if request.user in feed.sunny_users.all or request.user in feed.cloudy_users.all or request.user in feed.rainy_users.all %}
            <a href="/home/{{ feed.id }}">글 제목: {{ feed.title }}</a>
            {% endif %}
        </div>
        {% endfor %} 
        <a href = "/home/"> 홈</a> -->