<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- css style -->
<link rel="stylesheet"  href="{% static 'feedpage/new.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'feedpage/new.js' %}"></script>


  <div class = "bg">
    <img style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 50%; height: auto; min-width: 50%; min-height: 50%;" src="{% static 'feedpage/img/new_bg.jpg' %}"/>
  </div>

    <div class = "writing_box">
      <div class = "title">
        <form action="/home/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class = "title_box">
            <input type = "text" name="title" id = "text_title" placeholder = "제목"/>
          </div>

          <div class = "anonymous_box">
            <ul class="ks-cboxtags">
            <li><input type="checkbox" id="checkboxOne" name="anonymous" ><label for="checkboxOne">익명모드</label></li>
            </ul>
          </div>
          <!-- <div class = "anonymous_box">익명 모드 <input type="checkbox" name="anonymous"/> </div> -->
      </div>

      <div class = "story">
        <input type = "text" name="content" id = "text_story" placeholder = "어떤 고민이 있으신가요?"/>
        <hr>
      </div>

      <div class = "hashtag">
        <div class = "justtag">
          <div class = "shape"><p>#모태솔로</p></div>
          <div class = "shape"><p>#연애중</p></div>
          <div class = "shape"><p>#고무신</p></div>
          <div class = "shape"><p>#짝사랑</p></div>
          <div class = "shape"><p>#소개팅</p></div>
          <div class = "shape"><p>#이별후</p></div>
          <div class = "shape"><p>#썸</p></div>
        </div>

        <div class = "puttag">
          <div class = "hashtag_text">
            <input type = "text" name="hashtags" id = "hashtag_line" placeholder = "#을 붙여서 입력해주세요."/>
          </div>

          <label class="input-file">
            <b class="btn btn-primary">
              <p0><i class="fas fa-image"></i>사진넣기</p0></b>
            <input type="file" class="fileInput" multiple="multiple"name="photo" >
          </label>
        
          <!--<div class = "photo">
            <input multiple="multiple" name="photo" type="file" id = "photo_button"/>
          </div> -->
        
      </div>
    </div>


      <div class = "optionbox">
        <div class = "weather">
          <div class = "sunny">
            <img style = "width: 38px; height: auto;" src="{% static 'feedpage/img/sunny.png' %}" />
          </div>
          <div class = "cloudy">
            <img style = "width: 53px; height: auto;" src="{% static 'feedpage/img/cloudy.png' %}" />
          </div>
          <div class = "rainy">
            <img style = "width: 48px; height: auto;" src="{% static 'feedpage/img/rainy.png' %}" id="rainy"/>
          </div>
        </div>
        <div class = "option_blank">
          <div class = "option1">
            <input type = "text" name="sunny_content" id = "option1" placeholder = "선택지를 입력해주세요."/>
          </div>
          <div class = "option2">
            <input type = "text" name="cloudy_content" id = "option1" placeholder = "선택지를 입력해주세요."/>
          </div>
          <div class = "option3">
            <input type = "text" name="rainy_content" id = "option1" placeholder = "선택지를 입력해주세요."/>
          </div>
        </div>
      </div>

      <div class = "finish_writing">
        <div class = "submit_button">
          <input type="submit" value="글쓰기" />
      </form>
        </div>
      </div>
    </div>

  
{% endblock content %}